<div class="db-container">
  <h2>Upravljanje bazom podataka</h2>

  <div class="button-group">
    <button 
      class="nav-btn" 
      [class.active]="activeEntity === 'profesori'" 
      (click)="selectEntity('profesori')">
      Profesori
    </button>
    <button 
      class="nav-btn" 
      [class.active]="activeEntity === 'saradnici'" 
      (click)="selectEntity('saradnici')">
      Saradnici
    </button>
    <button 
      class="nav-btn" 
      [class.active]="activeEntity === 'predmeti'" 
      (click)="selectEntity('predmeti')">
      Predmeti
    </button>
    <button 
      class="nav-btn" 
      [class.active]="activeEntity === 'ispiti'" 
      (click)="selectEntity('ispiti')">
      Ispiti
    </button>
    <button 
      class="nav-btn" id="delete-btn"
      (click)="deleteDatabase()">
      Obrisi sve podatke
    </button>
    <input 
      type="file" 
      #fileInput 
      (change)="onFileSelected($event)" 
      accept=".xlsx, .xls" 
      style="display: none;" 
    />
    <button 
      class="nav-btn" id="import-btn"
      (click)="fileInput.click()" 
      [disabled]="uploading">
      {{ uploading ? 'Učitavanje...' : 'Import EXCEL' }}
    </button>
  </div>

  @if (loading) {
    <div class="loader">
      Učitavanje podataka...
    </div>
  } @else {
    <div class="table-wrapper">
      @if (tableData.length > 0) {
        <table class="styled-table">
          <thead>
            <tr>
              @for (col of currentColumnsDef; track col.key) {
                <th>{{ col.label }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (row of tableData; track $index) {
              <tr>
                @for (col of currentColumnsDef; track col.key) {
                  <td>{{ row[col.key] }}</td>
                }
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <div class="empty-state">Nema dostupnih podataka za prikaz.</div>
      }
    </div>
  }
</div>