.settings-container{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle-btn {
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary);
    margin-left: 1vh;
    color: var(--text-color);
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.02);
    transition: background-color 0.3s ease, color 0.3s ease;
}